<a href="https://colab.research.google.com/github/hieuducle/SIM-KPDL/blob/main/SIM_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [164]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/train_dataset.csv")

In [165]:
df

        price_vnd  sim_number
0          450000   343189288
1         3000000   888899580
2          500000   928960006
3         5000000   902438679
4          450000   334307889
...           ...         ...
199995     450000   866161769
199996    1000000   708124126
199997    1000000   904755200
199998     450000   329220204
199999    1000000   904760321

[200000 rows x 2 columns]

In [166]:
df.describe()

          price_vnd    sim_number
count  2.000000e+05  2.000000e+05
mean   1.395027e+07  7.304797e+08
std    5.912997e+08  2.406479e+08
min    9.900000e+04  3.250098e+08
25%    5.000000e+05  3.922605e+08
50%    1.000000e+06  8.334287e+08
75%    5.000000e+06  9.180874e+08
max    1.680000e+11  9.979797e+08

In [167]:
df[df["price_vnd"]<10000000]["price_vnd"].value_counts()

450000     45119
1000000    38472
500000     30619
3000000    29199
5000000    21383
399000       138
299000        91
99000         58
250000        47
119000        32
350000        22
199000        18
290000         9
390000         3
280000         3
400000         2
220000         1
Name: price_vnd, dtype: int64

In [168]:
df[df["price_vnd"]>10000000]["price_vnd"].value_counts()

12000000     5124
11325000     2682
11000000     1760
13000000     1720
15000000     1417
             ...
130500000       1
12150000        1
80100000        1
424000000       1
439000000       1
Name: price_vnd, Length: 921, dtype: int64

In [169]:
def to_label(x):
  #symmetric
    sim = str(x['sim_number'])
    def is_symmetric(s):
        return s == s[::-1]

    sim_len = len(sim)
    symmetric_label = 3
    stop = False

    for i in range(9):
        s_len = sim_len - i - 1
        j = 0
      
        while j + s_len <= 9 and symmetric_label == 3:
            if is_symmetric(sim[j:j+s_len]):
                if s_len == 8:
                    symmetric_label = 12
                    stop = True
                    break
                
                if s_len == 7:
                    symmetric_label = 11
                    stop = True
                    break
                
                if s_len == 6:
                    symmetric_label = 10
                    stop = True
                    break
                
                if s_len == 5:
                    symmetric_label = 9
                    stop = True
                    break
                
                if s_len == 4:
                    symmetric_label = 8
                    stop = True
                    break
                if s_len == 3:
                    symmetric_label = 6
                    stop = True
                    break
            if stop: break
            j = j + 1 
   
  # tail_number 
    tail_label = 3
   
    five = False
    four = False
    equal5 = ['00000', '11111', '22222', '33333', '44444', 
              '55555', '66666', '77777', '88888', '99999']
    asc5 = ['01234', '12345', '23456', '34567', '45678', '56789']
    desc5 = ['43210', '54321', '65432', '76543', '87654', '98765']
    if str(x['sim_number'])[4:9] in equal5:
      tail_label = 12
      five = True
      four = True

    elif str(x['sim_number'])[4:9] in asc5:
      tail_label = 10
      five = True
      four = True

    elif str(x['sim_number'])[4:9] in desc5:
      tail_label = 10
      five = True
      four = True


    
    if not five:
      equal4 = ['0000', '1111', '2222', '3333', '4444', 
                '5555', '6666', '7777', '8888', '9999']
      asc4 = ['0123', '1234', '2345', '3456', '4567', '5678', '6789']
      desc4 = ['3210', '4321', '5432', '6543', '7654', '8765', '9876']
  
      if str(x['sim_number'])[5:9] in equal4:
        tail_label = 11
        four = True

      elif str(x['sim_number'])[5:9] in asc4:
        tail_label = 8
        four = True

      elif str(x['sim_number'])[5:9] in desc4:
        tail_label = 8
        four = True

    if not four:
      equal3 = ['000', '111', '222', '333', '444',
                '555', '666', '777', '888', '999']
      asc3 = ['123', '234', '345', '456', '567', '678', '789', '012']
      desc3 = ['321', '432', '543', '654', '765', '876', '987', '210']
    
      if str(x['sim_number'])[6:9] in equal3:
        tail_label = 6
      elif str(x['sim_number'])[6:9] in asc3:
        tail_label = 4
      elif str(x['sim_number'])[6:9] in desc3:
        tail_label = 4
    

  

    # price
    price_label =  tail_label
    if x["price_vnd"]<=450000:
      price_label =  0
    elif x["price_vnd"]==500000:
      price_label =  1
    elif x["price_vnd"]==1000000:
      price_label =  2
    elif x["price_vnd"]==3000000:
      price_label =  3
    elif x["price_vnd"]==5000000:
      price_label =  4
    elif x["price_vnd"]==10000000:
      price_label =  5
    elif x["price_vnd"] > 10000000 & x["price_vnd"] <= 12000000:
      price_label =  6
    elif x["price_vnd"] > 12000000 & x["price_vnd"] <= 15000000:
      price_label =  7
    elif x["price_vnd"] > 15000000 & x["price_vnd"] <= 100000000:
      price_label =  8
    elif x["price_vnd"] > 100000000 & x["price_vnd"] <= 500000000:
      price_label =  9
    elif x["price_vnd"] > 500000000 & x["price_vnd"] <= 1000000000:
      price_label =  10
    elif x["price_vnd"] > 1000000000 & x["price_vnd"] <= 1680000000:
      price_label =  11


    return int((price_label + tail_label + symmetric_label) / 3)

df["label"] = df.apply(to_label, axis=1)
# df.loc[len(df.index)] = []

In [170]:
import random
def create_sim():
  list_special_5 = ['00000', '11111', '22222', '33333', '44444', '55555', '66666', '77777', 
                    '88888', '99999','01234', '12345', '23456', '34567', '45678', '56789','43210', 
                    '54321', '65432', '76543', '87654', '98765']

  random_number =  random.randint(0,21)
  s = list_special_5[random_number]
  s_len = len(s)
  sc = ""
  num = random.randint(1,9)
  sc += str(num)
  while len(sc) < 4:
    num = random.randint(0,9)
    sc += str(num)
  s = sc + s
  return s

num_of_sim5 = 1000
for i in range(num_of_sim5):
  sim_number = int(create_sim())
  # print(sim_number)
  label = 10
  price = random.randint(100000000, 500000000)
  df2 = {'price_vnd': price,'sim_number': sim_number, 'label': label}
  df = df.append(df2, ignore_index = True)

168754321
518499999
698223456
871045678
932877777
943354321
903433333
880923456
878854321
953656789
710356789
843643210
215243210
449566666
442398765
307533333
734801234
346365432
110311111
865200000
525898765
173933333
233787654
582543210
233554321
975598765
301200000
261122222
605845678
619377777
461277777
824498765
656465432
117443210
301755555
521733333
122666666
319355555
219300000
633200000
461598765
692876543
811043210
423588888
531443210
574566666
292644444
962423456
480412345
428743210
349555555
562177777
274633333
834333333
337001234
728323456
772488888
550943210
700433333
525922222
902423456
780255555
895876543
551534567
486301234
237566666
175865432
621576543
134744444
316033333
496145678
235398765
744498765
284134567
762865432
745699999
345477777
804345678
846311111
227334567
662123456
734912345
854012345
856256789
768755555
352744444
116798765
543334567
496077777
601677777
124776543
824876543
757156789
259255555
374456789
652956789
337598765
995600000
571998765
872154321
584654321
640544444
682698765
555176543
424476543
420554321
457434567
843977777
766365432
668333333
939712345
476554321
357054321
439945678
869922222
752900000
350934567
932087654
577944444
608911111
295433333
859645678
717311111
417899999
123101234
794466666
411587654
775112345
394299999
783700000
109801234
884501234
316334567
912577777
459043210
301788888
706577777
374088888
442376543
935101234
107756789
666787654
531256789
102423456
778001234
393922222
778698765
657822222
156511111
885088888
577322222
755977777
690043210
561087654
884298765
252922222
903323456
313288888
985088888
465043210
909454321
685933333
179843210
433898765
148834567
957755555
585422222
906866666
689423456
949077777
315333333
537054321
805644444
571887654
690412345
318155555
288400000
466876543
319645678
742511111
969998765
986833333
104534567
117299999
716401234
722965432
741976543
288688888
697201234
373776543
928255555
418043210
848501234
388788888
903166666
434754321
215066666
371012345
265145678
255012345
284512345
961298765
275756789
861776543
754601234
262656789
794588888
281143210
626834567
315645678
325233333
311899999
495065432
478254321
811344444
319443210
816422222
899854321
808001234
643423456
146433333
504544444
520777777
248611111
469366666
428122222
786911111
171343210
903265432
516101234
272976543
363543210
403423456
951211111
874545678
637698765
950756789
594976543
219088888
962243210
101801234
402254321
660934567
561655555
340965432
415755555
747787654
213498765
860500000
856399999
702566666
923098765
276812345
594033333
311655555
214677777
328100000
504245678
880688888
983943210
569066666
787176543
392634567
995045678
601834567
862912345
780301234
657265432
402712345
399445678
999766666
869866666
192412345
450976543
283322222
198233333
877754321
662666666
530501234
142743210
921177777
160600000
236554321
585823456
913755555
271656789
695398765
493012345
583343210
105645678
361255555
968345678
971398765
396501234
897456789
902933333
267498765
173566666
921165432
245623456
980844444
461244444
248611111
404945678
993266666
679066666
487756789
782334567
485055555
926255555
930943210
860656789
334788888
703598765
807877777
761899999
758701234
576776543
123723456
518498765
469700000
652245678
588201234
448766666
679054321
847223456
971888888
696288888
583012345
101923456
824011111
641634567
424654321
287500000
523676543
524511111
544433333
456301234
799565432
100733333
362822222
928876543
491956789
603998765
511854321
769899999
206255555
572965432
311976543
157912345
502533333
138454321
810356789
923234567
619298765
754056789
341045678
976701234
618943210
334156789
790056789
337443210
739056789
444223456
346087654
359466666
543655555
733477777
678356789
596698765
411165432
262722222
554901234
838812345
640876543
829387654
729487654
583823456
277898765
448065432
760088888
337144444
637423456
571534567
752277777
259545678
608611111
191401234
803566666
843599999
613055555
156198765
271154321
358177777
323723456
695200000
937822222
536534567
259234567
438398765
496577777
243700000
739356789
994499999
180265432
621588888
907323456
657912345
915833333
363001234
708723456
388777777
434776543
531222222
872476543
482198765
810945678
170065432
825101234
174476543
857066666
981312345
484999999
235512345
354366666
599587654
285800000
255787654
763077777
750066666
749001234
389501234
130300000
364623456
141333333
680923456
632534567
711198765
479522222
320477777
807266666
679365432
479545678
601555555
229543210
791533333
698400000
875112345
174276543
887744444
489298765
392801234
871212345
285487654
642688888
533865432
193511111
653544444
677923456
304334567
478555555
420676543
117634567
599577777
492288888
881234567
581754321
976877777
275322222
561133333
208356789
131045678
332900000
645033333
363822222
239088888
830076543
446600000
919898765
958223456
117877777
265945678
753987654
504822222
750600000
733356789
706756789
742200000
156144444
327701234
241998765
302433333
286244444
954587654
293034567
970600000
230512345
236898765
364156789
718534567
765477777
773601234
771933333
725976543
224277777
520034567
427123456
262666666
469966666
170044444
857245678
210254321
613045678
265565432
203176543
838300000
976933333
789323456
956111111
816276543
986066666
314777777
774365432
893555555
305156789
126554321
370787654
831398765
480400000
691198765
847501234
165933333
538622222
384676543
975399999
784900000
572945678
567655555
968198765
236511111
780834567
342266666
763776543
893087654
107033333
592387654
500911111
298133333
848976543
450188888
376111111
604212345
228723456
534099999
237254321
527655555
587743210
692099999
270387654
211988888
724743210
406944444
138233333
642499999
470365432
526811111
268155555
216366666
304476543
111376543
255255555
432923456
180844444
129066666
326366666
133711111
961154321
306055555
775354321
257665432
844300000
652277777
410843210
470665432
483377777
625644444
305999999
752523456
133733333
771243210
748976543
109833333
715087654
435076543
721400000
912734567
842299999
939176543
243288888
584156789
794700000
508688888
901354321
258776543
565300000
983112345
619333333
733687654
689311111
488012345
894234567
719034567
298077777
582987654
150488888
102587654
301455555
431545678
136399999
123687654
661733333
880433333
230054321
686666666
661344444
997311111
341787654
552311111
475565432
561144444
759356789
456577777
455512345
874398765
482743210
653187654
915377777
474454321
497534567
534322222
977776543
474454321
471043210
665044444
826766666
141512345
318854321
635033333
254400000
849522222
243855555
432588888
589799999
667812345
284901234
821000000
904288888
511288888
899634567
180611111
496934567
899111111
836545678
118977777
495354321
136755555
219711111
238777777
360255555
865034567
382700000
244756789
675166666
699866666
796299999
112712345
636901234
954023456
254743210
269455555
771444444
518255555
917700000
650898765
595943210
421755555
886665432
108666666
929901234
672765432
322077777
303444444
684165432
235912345
514422222
659887654
672012345
843311111
691176543
261745678
457845678
904900000
911499999
842343210
911212345
537712345
629412345
981799999
977745678
451465432
205298765
298545678
136865432
544876543
203855555
869598765
913554321
374776543
158111111
763623456
101134567
936655555
646533333
859576543
516722222
546399999
229666666
262734567
465055555
661565432
740898765
672754321
122277777
714323456
972699999
941956789
336500000
489266666
632333333
843900000
592933333
530133333
595465432
722134567
764856789
472134567
671066666
601445678
422134567
727834567
286312345
639354321
971143210
203100000
296255555
533288888
663398765
649412345
961534567
281656789
337012345
168233333
428700000
909912345
307512345
879823456
581977777
679944444
852722222
152688888
279134567
764300000
812587654
429988888
656699999
797712345
412201234
921743210
983356789
489454321
646844444
663798765
370655555
134387654
976487654
223677777
318277777
519201234
956944444
454054321
649622222
480645678
647976543
297634567
521334567
999456789
446487654
929834567
871677777
688601234
765533333
185156789
300465432
775955555
400487654
689723456
865643210
739911111
224566666
387054321
958277777
900976543
288445678
575522222
732501234
726033333
482644444
525333333
302356789
874398765
667344444
881377777
286543210
116477777
919511111
591876543
487554321
599154321
294911111
730543210
471255555
622011111
178365432
158187654
352723456
566200000
104098765
232543210
241177777
592512345
377045678
411188888
383766666
460754321
826733333
742811111
781433333
228356789
399222222
434543210
314634567
861187654
334411111
174243210
829422222
505434567
524223456
140334567
865300000
547477777
197788888
917687654
603799999
788843210
695143210
443043210
823376543
665111111
904965432
523876543
713399999
928022222
653745678
473254321
134488888
254534567
182800000
201165432
103698765
247623456
584500000
829434567
338877777
827534567
485377777
524555555
864233333
957388888
679712345
463834567
491588888
230699999
210556789
704422222
141166666
228976543
995123456
287288888
636555555
485933333
332500000
294488888
643634567
611700000
131998765
503287654
261855555
645101234
150276543
183498765
116311111
210000000
348465432
784965432
826598765
119834567
994188888
577012345
296901234
577999999
970288888
285666666
562955555
736143210
885955555
584065432
712644444
700134567
871666666
273144444
526365432
733988888
585344444
113123456
239033333
805299999
684644444
593054321
571933333
244601234
449398765
811355555
918165432
965945678
376322222
566265432
955476543
578756789
868634567
311677777
720865432
821244444
207176543
825666666
446344444
789166666
433511111
306454321
506923456
688265432
714077777
863056789
298601234
325388888
708854321
593101234
646377777
822543210
647565432
724412345
218756789
890287654
549833333
767877777
338034567
582855555
733333333
695976543
395443210
275556789
836354321
354287654
422687654
479044444
882833333
107811111
525087654
786456789
777399999
819534567
925401234
686144444
192134567
788655555
191423456
413876543
556045678
480299999
362877777
900223456

In [162]:

df

        price_vnd  sim_number  label
0          450000   343189288      3
1         3000000   888899580      4
2          500000   928960006      4
3         5000000   902438679      3
4          450000   334307889      3
...           ...         ...    ...
200995  422322611   717522222     10
200996  325389797   192066666     10
200997  116284019   518176543     10
200998  127689970   158011111     10
200999  485576745    91387654     10

[201000 rows x 3 columns]

In [171]:
df["label"].value_counts()

3     68951
2     44471
4     42660
5     26800
6     12461
8      3324
10     1006
7       791
9       536
Name: label, dtype: int64

In [172]:
X = []
y = []

for index, row in df.iterrows():
  X.append([int(c) for c in str(row['sim_number'])])
  y.append(row["label"])

X, y = np.array(X), np.array(y)

In [173]:
X.shape

(201000, 9)

In [174]:
y.shape

(201000,)

In [175]:
# from numpy import array
# from numpy import argmax
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder
# # integer encode
# label_encoder = LabelEncoder()
# integer_encoded = label_encoder.fit_transform(y) # <--- truyá»n y vÃ o Ä‘Ã¢y
# # binary encode
# onehot_encoder = OneHotEncoder(sparse=False)
# integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
# y_one_hot = onehot_encoder.fit_transform(integer_encoded)
# print(y_one_hot) #<--- Ä‘áº§u ra lÃ  y_one_hot

In [176]:
# Split dá»¯ liá»‡u train, test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [141]:
X_train.shape

(180900,)

In [177]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from tensorflow.keras.optimizers import Adam
import keras
optimizer = keras.optimizers.Adam(lr=0.001)

/usr/local/lib/python3.8/dist-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [179]:
# The LSTM architecture
regressor = Sequential()
# First LSTM layer with Dropout regularisation
regressor.add(LSTM(units=50, return_sequences=True, input_shape=(X_train.shape[1],1)))
regressor.add(Dropout(0.2))
# Second LSTM layer
regressor.add(LSTM(units=50, return_sequences=True))
regressor.add(Dropout(0.2))
# Third LSTM layer
regressor.add(LSTM(units=50, return_sequences=True))
regressor.add(Dropout(0.2))
# Fourth LSTM layer
regressor.add(LSTM(units=50))
regressor.add(Dropout(0.2))
# The output layer
regressor.add(Dense(units=1))
# model.add(Dense(3, ))
# Compiling the RNN
regressor.compile(optimizer='rmsprop',loss='mean_squared_logarithmic_error')
# regressor.compile(loss='categorical_crossentropy', optimizer=optimizer, metrics=['accuracy'])
# Fitting to the training set
regressor.summary()
regressor.fit(X_train,y_train,epochs=5,batch_size=128)

Model: "sequential_20"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_76 (LSTM)              (None, 9, 50)             10400

 dropout_76 (Dropout)        (None, 9, 50)             0

 lstm_77 (LSTM)              (None, 9, 50)             20200

 dropout_77 (Dropout)        (None, 9, 50)             0

 lstm_78 (LSTM)              (None, 9, 50)             20200

 dropout_78 (Dropout)        (None, 9, 50)             0

 lstm_79 (LSTM)              (None, 50)                20200

 dropout_79 (Dropout)        (None, 50)                0

 dense_19 (Dense)            (None, 1)                 51

=================================================================
Total params: 71,051
Trainable params: 71,051
Non-trainable params: 0
_________________________________________________________________
Epoch 1/5
1414/1414 [==============================] - 72s 45ms/step - loss: 0.0788
Epoch 2/5
1414/1414 [==============================] - 65s 46ms/step - loss: 0.0621
Epoch 3/5
1414/1414 [==============================] - 64s 45ms/step - loss: 0.0522
Epoch 4/5
1414/1414 [==============================] - 62s 43ms/step - loss: 0.0442
Epoch 5/5
1414/1414 [==============================] - 60s 42ms/step - loss: 0.0381

In [180]:
df_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/test (1).csv")

In [184]:
X_t = []
for index, row in df_test.iterrows():
  X_t.append([int(c) for c in str(row['sim_number'])])

In [185]:
import random


def label_to_price(y_pred):
  prices = []
  for p in list(y_pred):
    i = int (round(p[0]))
    
    if i == 1:
      prices.append(random.randint(400000,450000))

    elif i == 2:
      prices.append(random.randint(450000,750000))

    elif i == 3:
      prices.append(random.randint(750000,1000000))

    elif i == 4:
      prices.append(random.randint(1000000,3000000))

    elif i == 5:
      prices.append(random.randint(3000000,5000000))

    elif i == 6:
      prices.append(random.randint(5000000,10000000))
    
    elif i == 7:
      prices.append(random.randint(10000000, 12000000))

    elif i == 8:
      prices.append(random.randint(12000000, 15000000))

    elif i == 9:
      prices.append(random.randint(15000000, 100000000))

    elif i == 10:
      prices.append(random.randint(100000000, 500000000))

    elif i == 11:
      prices.append(random.randint(500000000, 1000000000))

    elif i == 12:
      prices.append(random.randint(1000000000, 1680000000))
  return prices

In [187]:
y_pred = regressor.predict(X_t)

4659/4659 [==============================] - 39s 8ms/step

In [203]:
y_pred

array([[3.392655 ],
       [2.8230438],
       [3.5255022],
       ...,
       [2.6515653],
       [3.5605304],
       [3.2844427]], dtype=float32)

In [189]:

price_pred = label_to_price(y_pred)

In [190]:
max(price_pred)

99930664

In [200]:
df_price = pd.DataFrame(price_pred, columns = ["price_pred"])
result = pd.concat([df_test['sim_number'], df_price], axis=1, join='inner')
display(result)
result = pd.DataFrame(result)

        sim_number  price_pred
0        776260543      977577
1        822977488      988386
2        707963979     2976687
3        344134986      671301
4        795718118      755758
...            ...         ...
149055   822139139      915320
149056   922491999     7232929
149057   332378966      985620
149058   378492223     1332617
149059   708048448      838211

[149060 rows x 2 columns]

In [201]:
result.describe()

         sim_number    price_pred
count  1.490600e+05  1.490600e+05
mean   7.293419e+08  1.889852e+06
std    2.409656e+08  3.801616e+06
min    3.250059e+08  4.500150e+05
25%    3.897185e+08  7.986898e+05
50%    8.298890e+08  9.172300e+05
75%    9.177405e+08  1.779531e+06
max    9.980000e+08  9.993066e+07

In [202]:
result.to_csv(r'/content/drive/MyDrive/Colab Notebooks/result_pred.csv', index=False)

In [198]:
result = regressor.predict(np.expand_dims(X[7484], axis=0))
print(label_to_price(result))
print(X[7484])

1/1 [==============================] - 0s 28ms/step
[1610309]
[7 9 9 1 2 0 2 1 5]

In [ ]:

y_predt = regressor.predict(X)
y_predt